/*
? First Slider & Inner Clases
*/

/*
  * Device = Laptops, Desktops
  * Screen = >= 1280px
*/

@media (min-width: 1280px) {

  .first-slider-content {
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
  }

  .dark-opacity-mask {
    background-color: black;
    opacity: 0.3;
    position: absolute;
    z-index: 0;
    top: 0;
    height: 625px;
    width: 100%;
  }

  .first-slider-image {
    display: table;
    background-image: url('../images/header-image-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 625px;
    width: 100%;
  }

  .first-wrapper {
    width: 1014px;
    margin: 0 auto;
  }

  .max-width-wrapper {
    max-width: 470px;
  }

  .first-slider-content h1 {
    color: rgb(247, 171, 73);
    font-size: 40px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
  }

  .first-slider-content p:nth-child(1) {
    font-size: 15px;
    color: white;
  }

  .first-slider-content p:nth-child(3) {
    font-size: 15px;
    color: white;
    line-height: 25px;
    margin-bottom: 25px;
  }

  .contact-button {
    width: 150px;
    letter-spacing: 2px;
    height: 40px;
    font-size: 12px;
    border-radius: 30px;
    background-color: rgb(247, 171, 73);
    border-color: rgb(247, 171, 73);
    border-style: none;
  }

}

/* 
  * Device = Tablets, Ipads (portrait)
  * Screen = B/w 768px to 1279px
*/

@media (min-width: 768px) and (max-width: 1279px) {

  .first-slider-content {
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
  }

  .dark-opacity-mask {
    background-color: black;
    opacity: 0.3;
    position: absolute;
    z-index: 0;
    top: 0;
    height: 625px;
    width: 100%;
  }

  .first-slider-image {
    display: table;
    background-image: url('../images/header-image-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 625px;
    width: 100%;
  }

  .first-wrapper {
    width: 650px;
    margin: 0 auto;
  }

  .max-width-wrapper {
    max-width: 470px;
  }

  .first-slider-content h1 {
    color: rgb(247, 171, 73);
    font-size: 40px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
  }

  .first-slider-content p:nth-child(1) {
    font-size: 15px;
    color: white;
  }

  .first-slider-content p:nth-child(3) {
    font-size: 15px;
    color: white;
    line-height: 25px;
    margin-bottom: 25px;
  }

  .contact-button {
    width: 150px;
    letter-spacing: 2px;
    height: 40px;
    font-size: 12px;
    border-radius: 30px;
    background-color: rgb(247, 171, 73);
    border-color: rgb(247, 171, 73);
    border-style: none;
  }
}


/* 
  * Device = Most of the Smartphones Mobiles (Portrait)
  * Screen = B/w 0px to 767px
*/

@media (max-width: 767px) {

  .first-slider {
    height: 100%;
    width: 100%;
  }

  .first-slider-content {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
  }

  .dark-opacity-mask {
    background-color: black;
    opacity: 0.3;
    position: absolute;
    z-index: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .first-slider-image {
    display: table;
    background-image: url('../images/header-image-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .first-wrapper {
    width: 310px;
    margin: 0 auto;
  }

  .max-width-wrapper {
    max-width: 470px;
  }

  .first-slider-content h1 {
    color: rgb(247, 171, 73);
    font-size: 35px;
    line-height: 35px;
    margin-top: 27px;
    margin-bottom: 27px;
    font-weight: bolder;
  }

  .first-slider-content p {
    font-size: 18px;
    color: white;
    line-height: 25px;
  }

  .first-slider-content p:nth-child(3) {
    margin-bottom: 25px;
  }

  .contact-button {
    width: 160px;
    letter-spacing: 2px;
    height: 40px;
    font-size: 12px;
    border-radius: 30px;
    background-color: rgb(247, 171, 73);
    border-color: rgb(247, 171, 73);
    border-style: none;
  }
}


/*
? Second Slider & Inner Clases
*/

/*
  * Device = Laptops, Desktops
  * Screen = >= 1280px
*/
@media (min-width: 1280px) {

  .second-slider {
    width: 1014px;
    margin: 0 auto;
    background-color: white;
    display: table;
    margin-top: 120px;
    margin-bottom: 135px;
  }

  .header-card {
    width: 100%;
    margin-bottom: 55px;
  }

  .header-card h3 {
    color: rgb(247, 171, 73);
    font-size: 20px;
    text-align: center;
  }

  .header-card h1 {
    color: black;
    font-size: 40px;
    text-align: center;
  }

  .content-pictures {
    display: table;
    margin: 0 auto;
  }

  .content-pictures div:nth-child(3n+1) {
    margin-left: 0;
  }


  .sample-picture {
    border-radius: 5px;
    width: 330px;
    height: 260px;
    background-color: gray;
    float: left;
    margin-left: 12px;
    margin-bottom: 20px;
  }
}

/* 
  * Device = Tablets, Ipads (portrait)
  * Screen = B/w 768px to 1279px
*/
@media (min-width: 768px) and (max-width: 1279px) {

  .second-slider {
    width: 650px;
    margin: 0 auto;
    background-color: white;
    display: table;
    margin-top: 55px;
    margin-bottom: 75px;
  }

  .header-card {
    width: 100%;
    margin-bottom: 60px;
  }

  .header-card h3 {
    color: rgb(247, 171, 73);
    font-size: 20px;
    text-align: center;
  }

  .header-card h1 {
    color: black;
    font-size: 40px;
    text-align: center;
  }

  .content-pictures {
    width: 650px;
    display: table;
    margin: 0 auto;
  }

  .content-pictures div:nth-child(3n+1) {
    margin-left: 0;
  }


  .sample-picture {
    border-radius: 10px;
    width: 210px;
    height: 180px;
    background-color: gray;
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
  }
}

/* 
  * Device = Most of the Smartphones Mobiles (Portrait)
  * Screen = B/w 0px to 767px
*/

@media (max-width: 767px) {

  .second-slider {
    width: 310px;
    margin: 0 auto;
    background-color: white;
    display: table;
    margin-bottom: 75px;
    margin-top: 55px;
  }

  .header-card {
    width: 100%;
    margin-bottom: 60px;
  }

  .header-card h3 {
    color: rgb(247, 171, 73);
    font-size: 20px;
    text-align: center;
  }

  .header-card h1 {
    color: black;
    font-size: 40px;
    text-align: center;
  }

  .content-pictures {
    width: 310px;
    display: table;
    margin: 0 auto;
  }

  .content-pictures div:nth-child(2n+1) {
    margin-left: 0;
  }


  .sample-picture {
    border-radius: 10px;
    width: 150px;
    height: 120px;
    background-color: gray;
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
  }

}


/*
? Third Slider & Inner Clases
*/

/*
  * Device = Laptops, Desktops
  * Screen = >= 1280px
*/
@media (min-width: 1280px) {

  .third-slider {
    width: 100%;
    background-color: black;
    display: table;
  }

  .margin-wrapper {
    width: 1014px;
    margin: 0 auto;
    background-color: black;
    display: table;
    margin-bottom: 110px;
    margin-top: 110px;
  }

  .third-slider-wrapper {
    width: 1014px;
    display: table;
  }

  .title-picture {
    float: left;
    background-image: url('../images/camera-guy.png');
    background-size: cover;
    width: 50%;
    height: 810px;
  }

  .content-about {
    width: 40%;
    display: table;
    padding-left: 10%;
    float: left;
    padding-top: 17%;
    padding-bottom: 15%;
  }

  .content-about h1 {
    color: white;
    margin-bottom: 50px;
    font-size: 30px;
  }

  .content-about p:nth-child(2) {
    padding-left: 30px;
    padding-bottom: 7px;
    border-left-color: rgb(247, 171, 73);
    border-left-style: solid;
    border-left-width: 10px;

  }

  .content-about p+p {
    margin-top: 20px;
  }

  .content-about p {
    font-size: 15px;
    color: #909090;
    line-height: 23px;
    position: relative;
  }

  .social {
    height: 50px;
    width: 50px;
    font-size: 15px;
    border-radius: 100%;
    background-color: #3e3d3d;
    color: rgb(247, 171, 73);
  }

  .social-icons {
    margin-top: 30px;
    display: table;
  }

  .social-icons div+div {
    margin-left: 10px;
  }

  .facebook {
    float: left;
  }

  .facebook>i {
    margin: 17px 20px;
  }

  .icon {
    margin: 19px;
  }

  .instagram {
    float: left;
  }

  .instagram>i {
    margin: 17px 18px;
  }

  .twitter {
    float: left;
  }

  .twitter>i {
    margin: 18px 17px;
  }


}

/* 
  * Device = Tablets, Ipads (portrait)
  * Screen = B/w 768px to 1279px
*/
@media (min-width: 768px) and (max-width: 1279px) {

  .third-slider {
    width: 100%;
    background-color: black;
    display: table;
  }

  .margin-wrapper {
    width: 650px;
    margin: 0 auto;
    background-color: black;
    display: table;
    margin-top: 50px;
    margin-bottom: 60px;
  }

  .third-slider-wrapper {
    width: 650px;
    display: table;
  }

  .title-picture {
    float: left;
    background-image: url('../images/camera-guy.png');
    background-repeat: no-repeat;
    width: 50%;
    height: 485px;
    background-size: contain;
  }

  .content-about {
    width: 40%;
    display: table;
    padding-left: 10%;
    float: left;
  }

  .content-about {}

  .content-about h1 {
    color: white;
    margin-bottom: 25px;
    font-size: 30px;
  }

  .content-about p:nth-child(2) {
    padding-left: 35px;
    border-left-color: rgb(247, 171, 73);
    border-left-style: solid;
    border-left-width: 10px;

  }

  .content-about p+p {
    margin-top: 20px;
  }

  .content-about p {
    font-size: 15px;
    color: #909090;
    position: relative;
  }

  .social {
    height: 60px;
    width: 60px;
    font-size: 20px;
    border-radius: 100%;
    background-color: #3e3d3d;
    color: rgb(247, 171, 73);
  }

  .social-icons {
    display: table;
    margin-top: 25px;
  }

  .social-icons div+div {
    margin-left: 10px;
  }

  .facebook {
    float: left;
  }

  .facebook>i {
    margin: 19px 24px;
  }

  .icon {
    margin: 19px;
  }

  .instagram {
    float: left;
  }

  .instagram>i {
    margin: 20px 21px;
  }

  .twitter {
    float: left;
  }

  .twitter>i {
    margin: 20px 20px;
  }


}

/* 
  * Device = Most of the Smartphones Mobiles (Portrait)
  * Screen = B/w 0px to 767px
*/
@media (max-width: 767px) {

  .third-slider {
    width: 100%;
    background-color: black;
    display: table;
  }

  .margin-wrapper {
    width: 310px;
    margin: 0 auto;
    background-color: black;
    display: table;
    margin-top: 50px;
    margin-bottom: 60px;
  }

  .third-slider-wrapper {
    width: 310px;
    display: table;
  }

  .title-picture {
    background-image: url('../images/camera-guy.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 465px;
    background-size: contain;
  }

  .content-about {
    display: table;
    width: 310px;
    margin-top: 50px;
  }

  .content-about h1 {
    color: white;
    margin-bottom: 35px;
    font-size: 30px;
  }

  .content-about p:nth-child(2) {
    padding-left: 30px;
    padding-bottom: 7px;
    border-left-color: rgb(247, 171, 73);
    border-left-style: solid;
    border-left-width: 10px;

  }

  .content-about p+p {
    margin-top: 20px;
  }

  .content-about p {
    font-size: 15px;
    color: #909090;
    position: relative;
  }

  .social {
    height: 60px;
    width: 60px;
    font-size: 20px;
    border-radius: 100%;
    background-color: #3e3d3d;
    color: rgb(247, 171, 73);
  }

  .social-icons {
    display: table;
    margin-top: 55px;
  }

  .social-icons div+div {
    margin-left: 10px;
  }

  .facebook {
    float: left;
  }

  .facebook>i {
    margin: 19px 24px;
  }

  .icon {
    margin: 19px;
  }

  .instagram {
    float: left;
  }

  .instagram>i {
    margin: 20px 21px;
  }

  .twitter {
    float: left;
  }

  .twitter>i {
    margin: 20px 20px;
  }
}

/*
? Fourth Slider & Inner Clases
*/

/*
  * Device = Laptops, Desktops
  * Screen = >= 1280px
*/
@media (min-width: 1280px) {

  .fourth-slider {
    width: 1014px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 112px;
    background-color: white;
    display: table;
  }

  .video-image {
    width: 730px;
    background-repeat: no-repeat;
    height: 500px;
    margin: 0 auto;
    background-image: url('../images/video-image.png');
    background-size: cover;
  }
}

/* 
  * Device = Tablets, Ipads (portrait)
  * Screen = B/w 768px to 1279px
*/
@media (min-width: 768px) and (max-width: 1279px) {

  .fourth-slider {
    width: 650px;
    margin: 0 auto;
    background-color: white;
    display: table;
    margin-top: 55px;
    margin-bottom: 50px;
  }

  .video-image {
    width: 650px;
    background-repeat: no-repeat;
    height: 500px;
    margin: 0 auto;
    background-image: url('../images/video-image.png');
    background-size: cover;
  }
}

/* 
  * Device = Most of the Smartphones Mobiles (Portrait)
  * Screen = B/w 0px to 767px
*/
@media (max-width: 767px) {

  .fourth-slider {
    width: 310px;
    margin: 0 auto;
    background-color: white;
    display: table;
    margin-top: 55px;
    margin-bottom: 50px;
  }

  .video-image {
    width: 100%;
    background-repeat: no-repeat;
    height: 200px;
    margin: 0 auto;
    background-image: url('../images/video-image.png');
    background-size: cover;
  }

}

/*
? Fifth Slider & Inner Clases
*/

/*
  * Device = Laptops, Desktops
  * Screen = >= 1280px
*/
@media (min-width: 1280px) {

  .fifth-slider {
    width: 100%;
    display: table;
    background-color: #f3f3f3;
  }

  .fifth-margin-wrapper {
    width: 1014px;
    margin: 0 auto;
    margin-top: 116px;
    margin-bottom: 135px;
    display: table;
  }

  .content-reviews {
    display: table;
    margin: 0 auto;
  }

  .each-review {
    width: 280px;
    float: left;
  }

  .stars {
    color: rgb(247, 171, 73);
    font-size: 15px;
    margin-bottom: 30px;
  }

  .content-reviews div+div {
    margin-left: 85px;
  }

  .each-review h4 {
    margin-top: 30px;
    font-style: italic;
    color: #909090;
  }

  .each-review h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .each-review p {
    font-size: 15px;
    line-height: 30px;
    font-style: italic;
    margin-bottom: 30px;
  }
}

/* 
  * Device = Tablets, Ipads (portrait)
  * Screen = B/w 768px to 1279px
*/
@media (min-width: 768px) and (max-width: 1279px) {

  .fifth-slider {
    width: 100%;
    display: table;
    background-color: #f3f3f3;
  }

  .fifth-margin-wrapper {
    width: 650px;
    margin: 0 auto;
    display: table;
    margin-top: 55px;
    margin-bottom: 70px;
  }

  .content-reviews {
    display: table;
    margin: 0 auto;
  }

  .each-review {
    width: 100%;
    float: left;
    margin-bottom: 50px;
  }

  .stars {
    color: rgb(247, 171, 73);
    font-size: 15px;
    margin-bottom: 30px;
  }

  .each-review h4 {
    margin-top: 30px;
    font-style: italic;
  }

  .each-review h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .each-review p {
    font-size: 15px;
    line-height: 30px;
    font-style: italic;
    margin-bottom: 30px;

  }
}

/* 
  * Device = Most of the Smartphones Mobiles (Portrait)
  * Screen = B/w 0px to 767px
*/
@media (max-width: 767px) {

  .fifth-slider {
    width: 100%;
    display: table;
    background-color: #f3f3f3;
  }

  .fifth-margin-wrapper {
    width: 310px;
    margin: 0 auto;
    display: table;
    margin-top: 55px;
    margin-bottom: 70px;
  }

  .content-reviews {
    display: table;
    margin: 0 auto;
  }

  .each-review {
    width: 100%;
    float: left;
    margin-bottom: 50px;
  }

  .stars {
    color: rgb(247, 171, 73);
    font-size: 15px;
    margin-bottom: 30px;
  }

  .each-review h4 {
    margin-top: 30px;
    font-style: italic;
  }

  .each-review h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .each-review p {
    font-size: 15px;
    line-height: 30px;
    font-style: italic;
    margin-bottom: 30px;

  }
}


/*
? Sixth Slider & Inner Clases
*/

/*
  * Device = Laptops, Desktops
  * Screen = >= 1280px
*/
@media (min-width: 1280px) {

  .sixth-slider {
    width: 1014px;
    margin: 0 auto;
    display: table;
    margin-top: 120px;
    margin-bottom: 180px;
  }

  .events-content {
    display: table;
    margin: 0 auto;
  }

  .events-content>div+div {
    margin-left: 50px;
  }

  .body-event {
    margin-top: 20px;
    padding-left: 20px;
  }

  .each-event {
    width: 30%;
    float: left;
  }

  .image-event {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    background-color: gray;
  }

  .img1 {
    background-image: url('../images/event-image2.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img2 {
    background-image: url('../images/event-image3.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img3 {
    background-image: url('../images/event-image1.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .event-title {
    font-size: 20px;
  }

  .event-author {
    margin-top: 30px;
    font-size: 15px;
  }

  .event-date {
    color: #d9d9d9;
  }

  .event-date-author {
    color: rgb(247, 171, 73);
  }

  .event-text {
    margin-top: 30px;
    font-size: 15px;
    color: #aeaeae;
    line-height: 25px;

  }
}

/* 
  * Device = Tablets, Ipads (portrait)
  * Screen = B/w 768px to 1279px
*/
@media (min-width: 768px) and (max-width: 1279px) {

  .sixth-slider {
    width: 650px;
    margin: 0 auto;
    display: table;
    margin-top: 55px;
    margin-bottom: 115px;
  }

  .events-content {
    display: table;
    margin: 0 auto;
  }

  .body-event {
    margin-top: 20px;
    padding-left: 20px;
  }

  .each-event {
    float: left;
    margin-bottom: 50px;
  }

  .events-content>div:last-child {
    margin-bottom: 0;
  }

  .image-event {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    background-color: gray;
  }

  .img1 {
    background-image: url('../images/event-image2.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img2 {
    background-image: url('../images/event-image3.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img3 {
    background-image: url('../images/event-image1.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .event-title {
    font-size: 20px;
  }

  .event-author {
    margin-top: 30px;
    font-size: 15px;
  }

  .event-date {
    color: #d9d9d9;
  }

  .event-date-author {
    color: rgb(247, 171, 73);
  }

  .event-text {
    margin-top: 30px;
    font-size: 15px;
    color: #aeaeae;
    line-height: 25px;

  }
}

/* 
  * Device = Most of the Smartphones Mobiles (Portrait)
  * Screen = B/w 0px to 767px
*/
@media (max-width: 767px) {
  .sixth-slider {
    width: 310px;
    margin: 0 auto;
    display: table;
    margin-top: 55px;
    margin-bottom: 115px;
  }

  .events-content {
    display: table;
    margin: 0 auto;
  }

  .body-event {
    margin-top: 20px;
    padding-left: 20px;
  }

  .each-event {
    float: left;
    margin-bottom: 50px;
  }

  .events-content>div:last-child {
    margin-bottom: 0;
  }

  .image-event {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    background-color: gray;
  }

  .img1 {
    background-image: url('../images/event-image2.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img2 {
    background-image: url('../images/event-image3.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img3 {
    background-image: url('../images/event-image1.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .event-title {
    font-size: 20px;
  }

  .event-author {
    margin-top: 30px;
    font-size: 15px;
  }

  .event-date {
    color: #d9d9d9;
  }

  .event-date-author {
    color: rgb(247, 171, 73);
  }

  .event-text {
    margin-top: 30px;
    font-size: 15px;
    color: #aeaeae;
    line-height: 25px;

  }

}


/*
? Footer
*/

/*
  * Device = Laptops, Desktops
  * Screen = >= 1280px
*/
@media (min-width: 1280px) {

  .footer {
    background-color: black;
    width: 100%;
    display: table;
  }

  .footer-content {
    color: white;
    margin: 0 auto;
    font-size: 15px;
    display: table;
    margin-top: 130px;
    margin-bottom: 175px;
    width: 1014px;
  }

  .footer-about {
    width: calc(100%/3);
    float: left;

  }

  .about-body {
    max-width: 250px;
    line-height: 22px;
  }

  .quick-links {
    float: left;
    width: calc(100%/3);

  }

  .links-list ul {
    list-style-type: none;
    margin-left: 10px;
    color: gray;
    line-height: 30px;
  }

  .links-list ul a:active,
  .links-list ul a:link,
  .links-list ul a:visited,
  .links-list ul a:hover {
    text-decoration: none;
    color: gray;
  }

  .news-letter {
    width: calc(100%/3);
    float: left;
  }

  .newsletter-form input {
    width: 260px;
    height: 55px;
    border-radius: 15px;
    font-size: 15px;
    text-indent: 30px;
    border-color: rgba(0, 0, 0, 0);
  }

  .section-title {
    margin-bottom: 30px;
  }

  .btn-send {
    width: 70px;
    height: 50px;
    border-radius: 24px;
    font-size: 15px;
    background-color: rgb(247, 171, 73);
    border-color: rgba(0, 0, 0, 0);
  }

  .copy-section {
    color: white;
    margin: 0 auto;
    display: table;
    text-align: center;
    margin-bottom: 150px;
  }

  .copy-section>p>span {
    color: #909090;
  }
}

/* 
  * Device = Tablets, Ipads (portrait)
  * Screen = B/w 768px to 1279px
*/
@media (min-width: 768px) and (max-width: 1279px) {

  .footer {
    background-color: black;
    width: 100%;
    display: table;
  }

  .footer-content {
    color: white;
    margin: 0 auto;
    font-size: 15px;
    display: table;
    margin-top: 65px;
    margin-bottom: 150px;
    width: 650px;
  }

  .footer-about {
    width: calc(100%/3);
    float: left;

  }

  .about-body {
    max-width: 250px;
  }

  .quick-links {
    float: left;
    width: calc(100%/3);

  }

  .links-list ul {
    list-style-type: none;
    margin-left: 10px;
    color: gray;
  }

  .links-list ul li {
    line-height: 30px;
  }

  .links-list ul a:active,
  .links-list ul a:link,
  .links-list ul a:visited,
  .links-list ul a:hover {
    text-decoration: none;
    color: gray;
  }

  .news-letter {
    width: calc(100%/3);
    float: left;
  }

  .newsletter-form input {
    width: 150px;
    height: 55px;
    border-radius: 5px;
    font-size: 15px;
    text-indent: 30px;
    border-color: rgba(0, 0, 0, 0);
  }

  .section-title {
    margin-bottom: 30px;
  }

  .btn-send {
    width: 55px;
    height: 50px;
    border-radius: 20px;
    font-size: 15px;
    background-color: rgb(247, 171, 73);
    border-color: rgba(0, 0, 0, 0);
  }

  .copy-section {
    color: white;
    margin: 0 auto;
    display: table;
    text-align: center;
    margin-bottom: 150px;
  }
}

/* 
  * Device = Most of the Smartphones Mobiles (Portrait)
  * Screen = B/w 0px to 767px
*/
@media (max-width: 767px) {

  .footer {
    background-color: black;
    width: 100%;
    display: table;
  }

  .footer-content {
    color: white;
    margin: 0 auto;
    font-size: 15px;
    display: table;
    margin-top: 65px;
    margin-bottom: 150px;
    width: 310px;
  }

  .footer-content>div {
    margin-bottom: 20px;
  }

  .footer-about {
    width: 100%;
    float: left;

  }

  .about-body {
    max-width: 310px;
  }

  .quick-links {
    float: left;
    width: 100%;

  }

  .links-list ul {
    list-style-type: none;
    margin-left: 10px;
    color: gray;
  }

  .links-list ul li {
    line-height: 35px;
  }

  .links-list ul a:active,
  .links-list ul a:link,
  .links-list ul a:visited,
  .links-list ul a:hover {
    text-decoration: none;
    color: gray;
  }

  .news-letter {
    width: 100%;
    float: left;
  }

  .newsletter-form input {
    width: 230px;
    height: 55px;
    border-radius: 5px;
    font-size: 15px;
    text-indent: 30px;
    border-color: rgba(0, 0, 0, 0);
  }

  .section-title {
    margin-bottom: 20px;
  }

  .btn-send {
    width: 72px;
    height: 50px;
    border-radius: 25px;
    font-size: 15px;
    background-color: rgb(247, 171, 73);
    border-color: rgba(0, 0, 0, 0);
  }

  .copy-section {
    color: white;
    margin: 0 auto;
    display: table;
    text-align: center;
    margin-bottom: 150px;
  }

  .copy-section>p>span {
    color: #909090;
  }

}