.brand {
  position: absolute;
  color: white;
  font-family: Helveltica;
  font-size: 2.5rem;
  top: 35%;
  letter-spacing: 0.2rem;
  left: 8%;
}

.menu {
  position: absolute;
  width: 10%;
  height: 10%;
  color: white;
  font-size: 5rem;
  right: 7%;
  top: 35%;
}